*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(165, 82, 244);
}
.container{
     max-width: 1400px;
     margin: auto;
}
header{
    background-color: rgb(0, 0, 0);
}
.color-acento{
    color: blueviolet;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    font-size: 1.45em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 255, 0);
}
head a:hover{
    color: blueviolet;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/207580/pexels-photo-207580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
#nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#nuestros-programas .container{
    padding: 150px 12px;
}
#nuestros-programas h2{
    margin-top: 0%;
    font-size: 3.2em;
}
#nuestros-programas p{
    display: none;
}
#nuestros-programas .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/11035386/pexels-photo-11035386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/11035380/pexels-photo-11035380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
#caracteristicas .container{
    text-align: center;
    padding: 200px;
}
#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;
}
#final h2{
    font-size: 9vw;
}
#final button{
    font-size: 5vw;
}
footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }
    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #somos-proya h2{
        margin-top: 0;
    }
    #somos-proya .img-container{
        background-image: url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-position: center;
        width: 400px;
        height: 500px;
    }
    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }
    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }
    #nuestros-progarmas h3{
        margin-top: 0;
    }
    #nuestros-programas .carta{
        padding: 50px;
    }
    #caracteristicas .container{
        text-align: initial;
    }
    #caracteristicas ul{
        margin-left: 100px;
    }
    #final h2{
        font-size: 5em;
    }
    #final button{
        font-size: 2em;
    }
    footer .container{
        justify-content: flex-end;
    }
}