*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(165, 82, 244);
}
.container{
     max-width: 1400px;
     margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
}
.color-acento{
    color: blueviolet;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.45em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
head a:hover{
    color: blueviolet;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
#nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#nuestros-programas .container{
    padding: 100px 0px;
}
#nuestros-programas h2{
    margin-top: 0%;
}
#nuestros-programas p{
    display: none;
}