*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main{
    background-color: rgb(29, 29, 29);
}
main p{
    color: white;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: rgb(0, 255, 0);
}
button:hover{
    background-color: rgb(55, 255, 55);
}
.container{
     max-width: 1400px;
     margin: auto;
}
header{
    background-color: rgb(0, 0, 0);
}
.color-acento{
    color: rgb(0, 255, 0);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    font-size: 1.45em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 255, 0);
}
head a:hover{
    color: rgb(0, 255, 0);
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
        ),
    url("https://images.pexels.com/photos/207580/pexels-photo-207580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}
pre {
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
pre::before {
    content: "Copiar";
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
pre code {
    font-family: Consolas, monospace;
    color: #ffffff;
    white-space: pre-wrap;
}
pre.code-copied::before {
    content: "Copiado";
}
#basic .container{
    text-align: initial;
    padding: 50px 5px;
}
footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #basic .container{
        display: flex;
        justify-content: center;
    }
    #basic .texto{
        width: 50%;
        max-width: 800px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #basic h2{
        margin-top: 0;
    }
    footer .container{
        justify-content: flex-end;
    }
}